.background{
    background: url(http://getwallpapers.com/wallpaper/full/7/a/7/567548.jpg);
    width: 100%;
    height: 100%;
}

header{
    position: static;
    top: 0%;
    height: auto;
    background-color: black;
    border-bottom: white solid 3.5px;
 
}


#gametitle{
    margin-left: auto;
    margin-right: 45%;
    font-family: 'Tangerine', cursive;
    font-size: 65px;
    color: white;
}

#title{
    border: solid black 3px;
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    color: black;
    text-align: center;
}

#instruction{
    border: solid black 3px;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}

#word-display{
    border: solid black 3px;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    color: black;
    text-align: center;   
}

#general-display{
    border: solid black 3px;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    color: black;
    text-align: left;
}